.aboutme-section {
  background-color: $primary-background-color;
  padding-bottom: 155px;
  padding-top: 155px;
}

.aboutme-container {
  max-width: 1170px;
  margin: 0 auto;
}

.aboutme-header {
  text-align: center;

  margin-bottom: 61px;
  color: $primary-headers-color;
  line-height: 62px;
  @extend %heading1-desktop;
}

.aboutme-logo {
  margin-right: 50px;
  margin-left: 55px;
  // width: 339px;
  // height: 285px;
}
.aboutme-logo img {
  width: 339px;
  height: 285px;
}

.aboutme-main {
  display: flex;
  justify-content: space-between;
}

.aboutme-main-info {
  margin-right: 30px;
}

.aboutme-main-info-header {
  margin: 0;
  margin-bottom: 20px;
  color: $primary-headers-color;
  @extend %heading2-desktop;
}

.aboutme-main-info-text {
  color: #4c4b4b;
  margin-bottom: 33px;
  @extend %paragraph1;
}
.aboutme-main-info-text-paragraph {
  margin: 0;
}

.aboutme-main-info-text-paragraph:not(:last-of-type) {
  margin-bottom: 29px;
}

// .aboutme-main-info-button {
// }
.aboutme-main-info-button a {
  text-decoration: none;
  font-family: $main-font-stack;
  color: $primary-color;
  font-size: $main-font-size;
}

.aboutme-main-info-button a:hover {
  color: #d24335;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutme-section {
    padding-bottom: 116px;
    padding-top: 114px;
  }

  .aboutme-header {
    font-size: 40px;
    line-height: 50px;
  }

  .aboutme-logo {
    margin-right: 30px;
    margin-left: 30px;
  }

  .aboutme-logo img {
    width: 247px;
    height: 207px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .aboutme-section {
    padding-top: 70px;
    padding-bottom: 76px;
  }

  .aboutme-header {
    font-size: 30px;
    line-height: 50px;
  }

  .aboutme-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutme-logo {
    margin: 0 0 37px;
  }

  .aboutme-logo img {
    width: 289px;
    height: 243px;
  }

  .aboutme-main-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutme-main-info-header {
    line-height: 30px;
    text-align: center;
    margin-bottom: 17px;
  }

  .aboutme-main-info-text {
    width: 330px;
    margin-bottom: 31px;
  }

  .aboutme-main-info-text-paragraph {
    text-align: justify;
  }
}
