.footer-container {
  border-top: 1px solid #ececec;
  background-color: #ffffff;
  height: 53px;
}

.footer-text {
  color: #4c4b4b;
  text-align: center;
  @extend %paragraph1;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    height: 60px;
  }
}
