.header-container {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;

  max-width: 1170px;
  margin: 0 auto;
}

.header-container-bg {
  position: fixed;
  top: 0px;
  background-color: $primary-background-color;
  width: 100%;
  height: 60px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-icon {
  margin-right: 7px;
  width: 30px;
  height: 20px;
}

.header-logo-text {
  color: $primary-headers-color;
  font-family: "Open Sans - Semibold";
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}

.header-menu-burger {
  display: none;
}

.header-menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  margin: 0;
}

.header-menu-list-item a {
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: $primary-headers-color;
}

.header-menu-list-item a:hover {
  color: $primary-color;
}

.header-menu-list-item:not(:last-of-type) {
  margin-right: 30px;
}

.header-menu-text {
  font-family: $main-font-stack;
  font-size: $main-font-size;
  line-height: 60px;
  color: $primary-headers-color;
}

.header-menu-text-avtive a {
  cursor: pointer;
  text-decoration: none;
  color: $primary-headers-color;
  color: #1b4a8a;
  margin-right: 30px;
}

@media (min-width: 360px) and (max-width: 767px) {
  header {
    position: absolute;
  }
  .header-container {
    padding: 0px 15px;
  }

  .header-container-bg {
    height: 40px;
  }

  .header-logo-text {
    line-height: 40px;
  }

  .header-menu-burger {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .header-menu-list {
    display: none;
    padding-left: 0px;
  }

  .header-menu-list-active {
    display: block;
  }

  .header-menu-text {
    line-height: 60px;
  }

  .modal-menu {
    margin: 0;
    bottom: 40px;
    width: 85%;

    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    outline: none;
    overflow-y: scroll;
  }

  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
  }

  .header-logo-mobile {
    display: flex;

    align-items: center;
    padding-left: 15px;
  }

  .header-menu-list-nav-section {
    padding-top: 26px;
    padding-left: 14px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
  }
  .header-menu-text-avtive {
    margin-bottom: 18px;
  }
  .header-menu-list-item {
    margin-bottom: 18px;
  }

  li a {
    font-family: $main-font-stack;
    font-size: $main-font-size;
    font-weight: 400;
    line-height: $main-lineheight;
    color: #000000;
  }
  .trans-cont {
    width: 80%;
  }
}
