.users-section {
  background-color: $secondary-background-color;
  padding-top: 155px;
  padding-bottom: 160px;
}

.users-container {
  max-width: 1170px;
  margin: 0 auto;
}

.users-header {
  color: $primary-headers-color;
  text-align: center;
  margin: 0 0 14px 0;
  @extend %heading1-desktop;
}

.users-text {
  text-align: center;
  color: #4c4b4b;
  margin: 0 0 74px 0;
  @extend %paragraph1;
}
.users-flex-container {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.users {
  max-width: 870px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 1fr;
  gap: 57px 135px;
  grid-template-areas: ". . .";
}

.users-info {
  margin: 0 auto;
  width: 200px;
}

.users-info-image {
  display: block;
  width: 66px;
  height: 66px;
  border-radius: 100px;
  border: 2px solid #fff;
  margin: 0 auto;
}

.users-info-image-container {
  margin-bottom: 18px;
}

.users-info-name {
  color: $primary-headers-color;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  @extend %heading2-desktop;
}

.users-info-details {
  color: #4c4b4b;
  @extend %paragraph1;
}

.users-info-details-items {
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.users-btn {
  width: 210px;
  height: 38px;
  border-radius: 4px;
  background-color: $primary-color;
  border: none;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: $main-font-size;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    background-color: #d24335;
  }
}

.users-btn-container {
  width: 210px;
  height: 38px;
  margin: 0 auto 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .users-section {
    padding-top: 108px;
    padding-bottom: 120px;
  }
  .users-header {
    font-size: 40px;
    margin-bottom: 13px;
  }

  .users {
    gap: 57px 40px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .users-section {
    padding-top: 74px;
    padding-bottom: 80px;
  }
  .users-header {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 9px;
  }

  .users-text {
    line-height: 22px;
    margin-bottom: 37px;
  }

  .users {
    grid-template-columns: 200px;
    gap: 38px 17px;
    grid-template-areas: ".";
  }
}
